.clear {
}

.green {
    background-color: #2ECC40;
}

.red {
    background-color: #FF4136;
}

.blue {
    background-color: #0074D9;
}

.yellow {
    background-color: #FFDC00;
}

.purple {
    background-color: #B10DC9;
}

.orange {
    background-color: #FF851B;
}

.cell {
    height: 30px;
    width: 30px;
    margin: 2px;
}

.row {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.board {
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #222222;
    width: 340px;
    padding: 2px;
}

#tetris {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    font-weight: 200;
    font-size: 100px;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    font-size: 30px;
    font-family: sans-serif;
    color: #98c379;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: #3c3c3c;
    margin: 0;
    min-height: 100%;
    width: 100%;
}

button,
input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    padding: 10px;
    box-sizing: border-box;
}

button,
input[type=submit] {
    border: none;
    width: 100%;
    background-color: #222222;
    color: inherit;
}

#game_over_msg,
#sign_in,
#register {
    width: 200px;
}

#login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    height: 300px;
    width: 550px;
}

table {
    color: whitesmoke;
}

th {
    font-weight: 400;
    text-align: center;
    padding: 0 20px 30px 30px;
}

td {
    font-size: 30px;
    text-align: center;
    padding: 0 30px 0 30px;
}

#play_again_form {
    width: 541px;
}
